body {
 	background:url(/images/background.jpg);
 	background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:50% 50%;
}



//侧边框的透明度设置
.sidebar {
  opacity: 0.8;
}


.header-inner {		//菜单栏的调色
  background: rgba(255,255,255,0.8);
}